<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Post</h1>
    <form method="POST" action="/update-post/<%= post.id %>">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="<%= post.title %>"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"><%= post.content %></textarea><br>
        <input type="submit" value="Update Post">
    </form>
</body>
</html>