<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>My Blog</title>
</head>

<body>
    <header>
        <h1>Welcome to my Blog</h1>
    </header>
    <main>
        <div class="blog-post">
            <h2>Blog Post Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat, sem in vulputate cursus, justo
                nulla maximus est, sit amet sodales ante neque vitae augue. </p>
            <a href="/start-posting">Start Posting</a>
            <a href="/all-posts">Read All Posts</a>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; 2023 All rights reserved.</p>
    </footer>
</body>

</html>