<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Frontend</title>
</head>
<body>
    <h1>To Do List</h1>
    <div class="my-list">
        <% for(let i = 0; i < peopleGroup.length; i++) {%>
            <p><%=peopleGroup[i]%> <a href="/delete/<%= i%>">X</a></p>
        <%}%>
    </div>
</body>
</html>