<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>My Blog</title>
</head>

<body>
    <header>
        <h1>Create your post</h1>
    </header>
    <main>
        <a href="/home">Home Page</a>
        <form action="/all-posts" method="post">
            <label for="title">Title:</label>
            <input type="text" placeholder="Title..." name="title"/>
            <br>
            <label for="content">Content:</label>
            <input type="text" placeholder="Content..." name="content"/>
            <input type="submit" value="Submit Post"/>
        </form>
    </main>
    <footer>
        <p>Copyright &copy; 2023 All rights reserved.</p>
    </footer>
</body>

</html>